:root{
    --background-color: #c3c3c3;
    --color-font: #111;
}
html{
    background:var(--background-color);
    text-align: center;
    font: 14px sans-serif;
}
body{
    margin: 0;
}
button{
    cursor: pointer;
}
a{
    color: #666;
    text-decoration: none;
}
header{
    padding: 40px 0 30px;
    p{
        opacity: 0.5;
    }
}
h1{
    margin:0 auto;
    
    // width: 200px;
    // height: 34px;
    // font-size:26px;
    // line-height: 34px;


    width: 300px;
    height: 52px;
    font-size:39px;
    line-height: 52px;

    word-spacing: -1px;
    color:transparent;

    background: url(one-last-image-sans.svg) no-repeat;
    background-size: contain;
}
@media (min-width:800px){
    h1{
        width: 400px;
        height: 68px;
        font-size:52px;
        line-height: 68px;
    }
}

canvas{
	background:#FFF;
}
.app{
    max-width:800px;
    margin:0 auto;
}
.output-box{
    position: relative;
    cursor: pointer;
    img,canvas{
        display: block;
        max-width:100%;
        margin:0 auto;
    }
    img{
        position: absolute;
        opacity: 0;
        pointer-events: none;
        transition: opacity .1s ease;
    }
    canvas{

    }
    &[data-diff]{
        img{
            opacity: 1;
        }
    }
    --cover-width: 480px;
    &[data-cover="true"]{
        width:var(--cover-width);
        height:var(--cover-width);
        margin:0 auto;
        img,canvas{
            width:var(--cover-width);
            height:var(--cover-width);
            object-fit: cover;
        }
    }
    @media (max-width:480px) {
        --cover-width: 100vw;
    }
}
.ctrl-box{
    padding:40px 0;
}

.generator-btn{
    &:before{
        content: '生成';
    }
}
.app[data-runing="true"]{
    .generator-btn{
        pointer-events: none;
        &:before{
            content: '生成中...';
        }
    }
}
.config-box{
    padding: 40px 0 0;
    // font-family: monospace;
}
.tips-box{
    padding:14px;
    // font-weight:bold;
    // color:#666;
    p{
        margin:0;
        padding:4px 0;
    }
}
.range-box{
    padding: 4px 0;
    width:320px;
    max-width:100%;
    margin:0 auto;
    .head{
        overflow: hidden;
        b{float: left;}
        span{float: right;}
    }
}
input[type="range"]{
    display: block;
    margin:0 auto;
    width:100%;
}
/* .app[data-cover="true"] canvas{
	width:480px;
	height:480px;
} */
h1{

}

footer{
    padding:40px 0 100px;
    a{
        display: inline-block;
        padding:0 .5em;
    }
}



[data-text]{
    &:before{
        content:attr(data-text);
    }
}

.ui-tabs-box{
    display: inline-block;
    // margin:10px 0;
    overflow: hidden;
    text-align: center;

    a{
        color: currentColor;
        float: left;
        cursor: pointer;
        line-height: 1;
        padding:6px;
        border-radius:3px;
        transition: color .3s ease, background-color .3s ease;
        &[data-checked="true"]{
            background: currentColor;
            &:before{
                color: #FFF;
            }
        }
    }
}

.ui-switch-box {
    cursor: pointer;
    margin: .2em;

    display: inline-block;
    vertical-align: middle;

    text-align: left;
    .switch {
        display: inline-block;
        vertical-align: middle;

        margin-top: -.3em;
        width: 2.4em;
        height: 1.4em;
        border-radius: 9em;
        background: rgba(0,0,0,.2);
        background: #999;
        transition: background-color .3s ease;
        .slider {
            display: inline-block;
            vertical-align: top;
            width: 1em;
            height: 1em;
            border-radius: 9em;
            background: #FFF;
            margin: .2em;
            position: relative;
            transition: transform .3s ease;
        }
    }
    &[data-checked]{
        .switch {
            background: #000;
            .slider {
                transform: translateX(1em)
            }
        }
    }
    transition: opacity .3s ease;;
    &[data-disabled="true"]{
        opacity: 0.5;
        pointer-events: none;
    }
}

.btn{
    display: inline-block;
    border:0;
    margin:4px;
    font-size:15px;
    line-height: 1.4;
    padding: 10px 16px;
    border-radius: 3px;
    background:#666;
    color:#DDD;
    &.current{
        background: #000;
        color:#EEE;
    }
}