:root{
    --background-color: #c3c3c3;
}
html{
    background:var(--background-color);
}
canvas{
	background:#FFF;
}
img,canvas{
	max-width:800px;
}
/* .app[data-cover="true"] canvas{
	width:480px;
	height:480px;
} */
h1{

}